.Tareas{
    height: 100%;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.TareasHeader{
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 10%;
    font-size: 18px;
}

.TareasHeaderLeft{
    display: flex;
}

.TareasHeaderLeftIcon{
    margin-right: 1rem;
    margin-top: 0.2rem;
    cursor: pointer;
    height: 1.2rem;
}

.TareasHeaderLeftTitle{
    font-weight: bold;
    margin: auto;
}

.TareasHeaderSelect{
    width: 7rem;
    margin: auto 0;
}

.TareasContainer{
    margin-top: 1rem;
    width: 80%;
    height: calc(100% - 3.7rem);
    margin: auto;
    background: #ffffff83;
    overflow: auto;
    padding: 1rem;
}