.SelectOS{
    display: flex;
    width: fit-content;
    border-bottom: 2px solid #009FFF;
    margin: 1rem 0;
    margin-top: 2rem;
    padding-right: 1rem;
}

.SelectOSItem{
    font-size: 18px;
    font-weight: bold;
    color: #009FFF;
    margin-right: 1rem;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
}

.SelectOSItem:last-of-type{
    margin-right: 0;
}

.SelectOSItem svg{
    margin-top: 0.3rem;
    margin-right: 0.2rem;
}

.SelectOSItem:hover, .SelectOSItemActive{
    opacity: 1;
}