.Caracteristicas{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.CaracteristicasImg{
    width: 80%;
    margin: auto;
}

.CaracteristicasImg img{
    width: 100%;
}

.CaracteristicasRef{
    font-size: 14px;
    line-height: 1rem;
}

.Requisito{
    width: fit-content;
    margin-left: 1rem;
}

.Requisito:last-of-type{
    margin-bottom: 1rem;
}

.Image{
    width: fit-content;
    margin: auto;
    margin-bottom: 0.6rem;
}

.Image img{
    border-radius: 10px;
    height: 20rem;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}