.Title{
    font-size: 30px;
    font-weight: bold;
    color: black;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.Line{
    margin-top: 0.5rem;
    background: black;
    height: 4px;
    border-radius: 15px;
}