.Home{
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.HomeHeader{
    font-size: 38px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 4rem 0;
}

.HomeList{
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    background: #ffffff34;
    width: 60%;
    max-height: 50vh;
    margin: auto;
    border-radius: 10px;
    overflow: auto;
}

.HomeListItem{
    text-align: center;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    cursor: pointer;
    padding: 0.5rem 0;
}

.HomeListItem:hover{
    border-left: 15px solid lime;
    border-right: 15px solid lime;
}

.HomeListItem:hover span{
    color: lime;
    /* border-bottom: 2px solid lime; */
}