.App{
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ant-select-selection--single{
  height: 24px !important;
}

.ant-select-selection__rendered{
  line-height: inherit !important;
}

h1{
  font-size: 24px !important;
  font-weight: bold !important;
  color: inherit !important;
}

h2{
  font-size: 18px !important;
  font-weight: bold !important;
  color: inherit !important;
}

h3{
  font-size: 16px !important;
  font-weight: 500 !important;
  color: inherit !important;
  line-height: 1.2rem !important;
  margin-bottom: 0.6rem !important;
}