body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* h1{
  font-size: 24px;
  font-weight: bold;
  color: inherit;
}

h2{
  font-size: 18px;
  font-weight: bold;
  color: inherit;
}

h3{
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
} */