.Codigo{
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    border: 2px solid black;
    background-color:#EEEEFF;
    width: fit-content;
    color: black;  
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.LineaCodigo{
    width: 100%;
}

.Image{
    width: fit-content;
    margin: auto;
    margin-bottom: 0.6rem;
}

.Image img{
    border: 2px solid black;
    border-radius: 10px;
    height: 20rem;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

.Requisito{
    width: fit-content;
    margin-left: 1rem;
}

.Requisito:last-of-type{
    margin-bottom: 1rem;
}